<%- include('header') %>

<!DOCTYPE html>
<html lang="en">

<body>
    
    <div id="scroll_to_top">
        <a href="#top"><img src="images/scrolltop.png" alt="Retourner en haut" /></a>
    </div>

    <div class="bckgrnd">
        <div class="container w-50 d-flex justify-content-center p-4 mb-2">
            <h1>GameReview</h1>
        </div><br>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black"> 
            <h2> Plateforme d'information <br> n°1 du Jeu-Video ! </h2>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3> Retrouvez les reviews <br> de plus d'une centaine de jeux ! </h3>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3>Retrouver l'actu' et les avis de nombreux adhérents  </h3>
        </div>
        
        <div class="image">
            <img src="images/logoPharmacie.png" alt="logoPharmacie">
        </div>
        
        <div class="btn btn-light btn-lg btn-block">    
            <a href="http://localhost:3000/addOrdonnance"><button type="button" class="btn btn-default btn-lg btn-custom-lg button1">L'actu'</button></a>
            <a href="http://localhost:3000/addPatient"><button type="button" class="btn btn-square-xl button2">Catégorie</button></a>
            <a href="http://localhost:3000/addMedicament"><button type="button" class="btn btn-square-xl button3">Ajouter un médicament au stock</button></a>
            <a href="http://localhost:3000/consultOrdonnance"><button type="button" class="btn btn-square-xl button4">Consulter une ordonnance</button></a>
            <a href="http://localhost:3000/consultListePatient"><button type="button" class="btn btn-square-xl button5">Consulter la fiche d'un patient</button></a>
            <a href="http://localhost:3000/consultStock"><button type="button" class="btn btn-square-xl button6">Consulter les stocks</button></a>
        </div>
        
    </div>
    
</body>

</html>

<%- include('footer') %>