<%- include('header') %>

<!DOCTYPE html>
<html lang="en">

<body>
    
    <div id="scroll_to_top">
        <a href="#top"><img src="images/scrolltop.png" alt="Retourner en haut" /></a>
    </div>

    <div class="bckgrnd">
        <div class="container w-50 d-flex justify-content-center p-4 mb-2">
            <h1>GameReview</h1>
        </div><br>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black"> 
            <h2> Plateforme d'information <br> n°1 du Jeu-Video ! </h2>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3> Retrouvez les reviews <br> de plus d'une centaine de jeux ! </h3>
        </div>
        
        <div class="container w-75 d-flex justify-content-left p-4 mb-2 text-black">
            <h3>Retrouver l'actu' et les avis de nombreux adhérents  </h3>
        </div>
        
        <div class="image">
            <img src="images/icon.png" alt="icone du site">
        </div>
        
        
    </div>
    
</body>

</html>

<%- include('footer') %>