<style>
  #footer h5 {
    background-color: #ff6600; /* Couleur de fond orange */
    color: #ffffff; /* Couleur du texte en blanc */
    padding: 10px 20px; /* Espacement autour du texte */
    border-radius: 10px; /* Bords arrondis */
    display: inline-block; /* Pour ajuster le fond autour du texte */
    margin-bottom: 15px; /* Espace en bas des titres */
  }
</style>

<footer id="footer" class="text-center text-lg-start" style="background-color: #808080; color: #f2f2f2;">
  <!-- Container -->
  <div class="container p-4">
    <!-- Row -->
    <div class="row">
      <!-- Qui sommes-nous ? -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" >On est qui ?</h5>
        <p>Nous sommes quatre étudiants ayant créé cette page d'avis sur les jeux vidéo.</p>
      </div>
      
      <!-- Nous contacter -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Nous contacter</h5>
        <ul class="list-unstyled">
          <li>
            <p>Mohammed, Yohann, Kamil, Killian<br>Notre Discord : <a href="https://discord.gg/mu9Herp3" style="color: #000c7a; text-decoration: none;">discord.gg/mu9Herp3</a></p>
          </li>
        </ul>
      </div>
      
      <!-- Légal -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Légal</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-light" style="text-decoration: none;">Conditions</a></li>
          <li><a href="#!" class="text-light" style="text-decoration: none;">Mentions Légales</a></li>
          <li><a href="#!" class="text-light" style="text-decoration: none;">Cookies</a></li>
        </ul>
      </div>
    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #333;">
    © 2024-2025 Copyright :
   
